<header>
    <div>
        <h1><a href="#">Happy Blog</a></h1>
    </div>
    <nav>
        <ul>
            <li><a href="/">Add post</a></li>
            <li><a href="/posts">View posts</a></li>
        </ul>
    </nav>
</header>