<header>
    <h1 class="logo"><a href="/">Happy Blog</a></h1>
    <ul class="links">
        <li><a href="/">Add post</a></li>
        <li><a href="/posts">View posts</a></li>
    </ul>        
</header>