<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Happy Blog</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <div class="container">
        <%- include("partials/header.ejs") %>

        <h1>Welcome to Happy Blog</h1>
        <p>Fill in the forms to create a blog post</p>
        <form action="/posts" method="post">
            <div class="formItem">
                <!-- <label for="blogTitle">Blog Title</label> -->
                <input 
                    type="text" 
                    id="blogTitle"
                    name="blogTitle"
                    placeholder="Title" 
                    requrired
                >
            </div>

            <div class="formItem">
                <!-- <label for="blogBody">Blog Body</label> -->
                <textarea 
                    name="blogBody" 
                    id="blogBody" 
                    placeholder="Content"
                    required
                ></textarea>
            </div>
            
            <div class="formItem">
                <input type="submit">
            </div>
            
        </form>  

        <%- include("partials/footer.ejs") %>
    </div>
</body>
</html>